.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}
.logoLink{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 4.2rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--link-color);
  transition: all 0.8s ease-in-out;
}
.logoLink :hover{
  filter: brightness(80%);
}

